The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [31]:
from datetime import datetime
t_g = datetime.strptime('Friday, 10.11.13', '%A, %m.%d.%y')
t_g

datetime.datetime(2013, 10, 11, 0, 0)

In [32]:
print(t_g.strftime('%A, %m.%d.%y'))

Friday, 10.11.13

In [24]:
from datetime import datetime
M_T = datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')
M_T

datetime.datetime(2002, 10, 2, 0, 0)

In [26]:
print(M_T.strftime('%A, %B %d, %Y'))

Wednesday, October 02, 2002

In [27]:
from datetime import datetime
d_n = datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')
d_n

datetime.datetime(1977, 8, 18, 0, 0)

In [29]:
print(d_n.strftime('%A, %d %B %Y'))

Thursday, 18 August 1977

# Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [132]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
from datetime import datetime
def validate_date(form_):
    try:
        datetime.strptime(form_, '%Y-%m-%d')
        return True
    except:
        return False
  
for form_ in stream:
    print(validate_date (form_))

True
False
False

## Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [62]:
start_date = '2018-04-02'
end_date = '2018-04-15'
from datetime import datetime
from datetime import timedelta
def date_range(start_date, end_date):
    a= list()
    try:
        start_date_d = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_d = datetime.strptime(end_date, '%Y-%m-%d')
        while start_date_d <= end_date_d:
            a.append(start_date_d.strftime('%Y-%m-%d'))
            start_date_d+=timedelta(days=1)
        return a
    except:
        return a
for i in date_range(start_date, end_date):
    print(i)

2018-04-02
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-07
2018-04-08
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-14
2018-04-15